body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
  .game-title {
    text-align: center;
    color: #4e54c8;
  }
  #wrapper {
    padding: 10px;
    background-color: #f0f0f0;
  }
  
  .btn-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
  }

  .board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  
  .card {
    background: linear-gradient(135deg, #4e54c8, #8f94fb); /* Adjust colors as needed */
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    cursor: pointer;
    
  }
  .mirror-text {
    transform: scaleX(-1);
  }

  #timer {
    text-align: center;
  }
